
<h2>Open Questions</h2>
<div class="media">
  <div class="media-body">
    <div class="media-heading">

        <% @opened.each do |q| %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to q.questions, q %> &nbsp; &nbsp; &nbsp;<%= link_to "Edit", edit_question_path(q), align:"right" %></h3> 
          </div>
    <div class="panel-body">
        <p></p>
            
    </div>
  </div>

        <% end %>

    </div>  
  </div
</div>

<h2> Solved Questions</h2>
<div class="media">
  <div class="media-body">
    <div class="media-heading">
  
  <% @solved.each do |q| %>

  <div class="panel panel-success">
    <div class="panel-heading">
          <h3 class="panel-title"><%= link_to q.questions, q %></h3>
    </div>
    <div class="panel-body">
        Answer would go here 
    </div>
  </div>
  <% end %>

    </div>  
  </div
</div>


<%= @join %>





