<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>

<p>Question: <%= @questions.questions %></p>
<p>Status: <%= @questions.status %></p>
<p>Answers:</p>

  <% if @anyAnswers == false %>
    <%= "No answers yet!" %>
  <% else %>
    <% @answers.each do |answer| %>
      <tr><td><%= answer.answers %></td></tr>
    <% end %>
  <% end %>
    
